.print {
    display: none;
}



@media print {
    .wrapper {
        display: none;
    }

    .print {
        font-family: "quebrado";
        z-index: 2;
        display: flex;
        background: transparent;
        flex-direction: column-reverse;
        width: 297mm;
        height: 210mm;
        /* background: wheat;
        border: 1px solid blue; */
    }

    .print>div {
        display: flex;
        justify-content: center;

    }

    .print>div>div {
        width: 148mm;
        height: 105mm;
        padding: 4mm;
    }



    .reverse {
        transform: rotate(180deg)
    }



    .draw-print {
        display: block;
        position: absolute;
        top: 0px !important;
        left: 0px !important;
    }

    .border {
        border-top: 0.5px solid grey;
    }

    svg {
        /* background: wheat; */
        display: inline-block;
        position: absolute;
        width: 100%;
        height: 100%;
        vertical-align: middle;
        overflow: hidden;

    }

    .back>p {
        text-align: center;
    }

    .back {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #us {
        padding: 8mm;
        width: 57mm;
        height: 55mm;
    }

    p {
        font-size: 9pt;
        text-align: left;
        line-height: 120%;
        font-family: quebrado !important;
        text-indent: 0% !important;
    }

    h1 {
        font-size: 27px !important;
        line-height: 94% !important;
    }
}

.print-btn {
    position: absolute;
    font-family: H2C;
    font-size: 25px;
    padding: 20px;
    margin-left: 900px;
    margin-top: 200px;
    height: 50px;
    width: 30px;
    z-index: 20;
}